@page "/dashboard"
<MudContainer MaxWidth="MaxWidth.Medium" Style="padding-top:15px">
    <MudGrid>
        <MudItem xs="6" sm="4">
            <MudPaper Square="true" Class="d-flex" Height="100px" Width="60" MinHeight="100px" MaxHeight="100px" Style="@($"color:{Colors.Gray.Lighten5}; background:#343A3D;")">
                <MudStack Spacing="0">
                    <MudText Style="padding:1px 50px 4px 10px" Class="text-white">Em conversa</MudText>
                    <MudText Typo="Typo.h4" Style="padding-left:10px; padding-top:10px">10</MudText>
                </MudStack>
                <MudSpacer></MudSpacer>
                <MudIcon Style="font-size: 5.5rem" Icon="@Icons.Material.Filled.Phone"></MudIcon>
            </MudPaper>
        </MudItem>
        <MudItem xs="6" sm="4">
            <MudPaper Square="true" Class="d-flex" Height="100px" Width="60" MinHeight="100px" MaxHeight="100px" Style="@($"color:{Colors.Gray.Lighten5}; background:#343A3D;")">
                <div class="d-flex flex-column">
                    <MudText Style="padding:1px 50px 4px 10px" Class="text-white">Aguardando</MudText>
                    <MudText Typo="Typo.h4" Style="padding-left:10px; padding-top:10px">4</MudText>
                </div>
                <MudSpacer></MudSpacer>
                <MudIcon Style="font-size: 5.5rem" Icon="@Icons.Material.Filled.HourglassEmpty"></MudIcon>
            </MudPaper>
        </MudItem>
        <MudItem xs="6" sm="4">
            <MudPaper Square="true" Class="d-flex" Height="100px" Width="60" MinHeight="100px" MaxHeight="100px" Style="@($"color:{Colors.Gray.Lighten5}; background:#343A3D;")">
                <div class="d-flex flex-column">
                    <MudText Style="padding:1px 50px 4px 10px" Class="text-white">Finalizados</MudText>
                    <MudText Typo="Typo.h4" Style="padding-left:10px; padding-top:10px">125</MudText>
                </div>
                <MudSpacer></MudSpacer>
                <MudIcon Style="font-size: 5.5rem" Icon="@Icons.Material.Filled.CheckCircle"></MudIcon>
            </MudPaper>
        </MudItem>
        <MudItem xs="6" sm="4">
            <MudPaper Square="true" Class="d-flex" Height="100px" Width="60" MinHeight="100px" MaxHeight="100px" Style="@($"color:{Colors.Gray.Lighten5}; background:#343A3D;")">
                <div class="d-flex flex-column">
                    <MudText Style="padding:1px 50px 4px 10px" Class="text-white">Novos contatos</MudText>
                    <MudText Typo="Typo.h4" Style="padding-left:10px; padding-top:10px">120</MudText>
                </div>
                <MudSpacer></MudSpacer>
                <MudIcon Style="font-size: 5.5rem" Icon="@Icons.Material.Filled.GroupAdd"></MudIcon>
            </MudPaper>
        </MudItem>
        <MudItem xs="6" sm="4">
            <MudPaper Square="true" Class="d-flex" Height="100px" Width="60" MinHeight="100px" MaxHeight="100px" Style="@($"color:{Colors.Gray.Lighten5}; background:#343A3D;")">
                <div class="d-flex flex-column">
                    <MudText Style="padding:1px 50px 4px 10px" Class="text-white">T.M. de Conversa</MudText>
                    <MudText Typo="Typo.h4" Style="padding-left:10px; padding-top:10px">02h 14m</MudText>
                </div>
                <MudSpacer></MudSpacer>
                <MudIcon Style="font-size: 5.5rem" Icon="@Icons.Material.Filled.AccessTime"></MudIcon>
            </MudPaper>
        </MudItem>
        <MudItem xs="6" sm="4">
            <MudPaper Square="true" Class="d-flex" Height="100px" Width="60" MinHeight="100px" MaxHeight="100px" Style="@($"color:{Colors.Gray.Lighten5}; background:#343A3D;")">
                <div class="d-flex flex-column">
                    <MudText Style="padding:1px 50px 4px 10px" Class="text-white">T.M. de Espear</MudText>
                    <MudText Typo="Typo.h4" Style="padding-left:10px; padding-top:10px">00h 11m</MudText>
                </div>
                <MudSpacer></MudSpacer>
                <MudIcon Style="font-size: 5.5rem" Icon="@Icons.Material.Filled.Timer"></MudIcon>
            </MudPaper>
        </MudItem>
    </MudGrid>
</MudContainer>
